form action="/" method="POST"
    input type="text" placeholder="city" name="city"
    input type="text" placeholder="country code e.g. UK" name="country"
    input.button type="submit" value="Choose City >>"
